<!Doctype html>
<!DOCTYPE html>
<html>
<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="C:\Users\QAEM RAZA\Desktop\Project\E commerce\static\css\contact.css">
	<link rel="stylesheet" type="text/css" href="C:\Users\QAEM RAZA\Desktop\Project\E commerce\static\css\mainPage.css">
  <link href="/your-path-to-fontawesome/css/all.css" rel="stylesheet">
            <link rel="stylesheet" type="text/css" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
  <link rel="icon" href="C:\Users\QAEM RAZA\Downloads\WhatsApp Image 2022-10-12 at 12.27.46.jpeg" type="image/icon type">          
	<title>Contact Us</title>

   <script type="text/javascript">
            function showMessage() {
                alert("Your contact information submitted successfully.");
            }
        </script>

  </head>

<body>
  
      <div id = "header">
      <a href="#"><img src="C:\Users\QAEM RAZA\Downloads\logo.jpeg (2).jpg"></a>

      <div>
        <ul id="navbar">
          <li><a href="mainPage.html">Home</a></li>
          <li><a href="shop.html">Shop</a></li>
          <li><a href="about.html">About</a></li>
          <li><a class="active" href="">Contact</a></li>
          <li><a href="loginPage.html">Login</a></li>
          <li><a href="cart.html"><i class="far fa-shopping-bag"></i></a></li>

        </ul>
      </div>

    </div>


	<div class="background">
  <div class="container">
    <div class="screen">
      <div class="screen-header">
        <div class="screen-header-left">
          <div class="screen-header-button close"></div>
          <div class="screen-header-button maximize"></div>
          <div class="screen-header-button minimize"></div>
        </div>
        <div class="screen-header-right">
          <div class="screen-header-ellipsis"></div>
          <div class="screen-header-ellipsis"></div>
          <div class="screen-header-ellipsis"></div>
        </div>
      </div>
      <div class="screen-body">
        <div class="screen-body-item left">
          <div class="app-title">
            <span>CONTACT</span>
            <span>US</span>
          </div>
          <div class="app-contact">CONTACT INFO : +92 333 0000</div>
        </div>
        <div class="screen-body-item">
          <div class="app-form">
            <div class="app-form-group">
              <input class="app-form-control" placeholder="NAME" placeholder="NAME" required>
            </div>
            <div class="app-form-group">
              <input class="app-form-control" placeholder="EMAIL" required>
            </div>
            <div class="app-form-group">
              <input class="app-form-control" placeholder="CONTACT NO" required>
            </div>
            <div class="app-form-group message">
              <input class="app-form-control" placeholder="MESSAGE" required>
            </div>
            <div class="app-form-group buttons">
              <button class="app-form-button" onclick="window.location.href='shop.html';">CANCEL</button>
              <button class="app-form-button" type="submit" onClick="showMessage()"/>SEND</button>
            </div>
          </div>
        </div>
      </div>
    </div>
 
  </div>
</div>

</body>
</html>