<!Doctype html>
	<!DOCTYPE html>
	<html>
	<head>
		<title>Login</title>
		<link rel="stylesheet" type="text/css" href="../static/css/login.css">
	    <link rel="stylesheet" type="text/css" href="../static/css/mainPage.css">
	    <link href="/your-path-to-fontawesome/css/all.css" rel="stylesheet">
            <link rel="stylesheet" type="text/css" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
		<link rel="icon" href="../static/img/logo1.jpeg" type="image/icon type">
	</head>
	<body>

		<div id = "header">
      <a href="#"><img src="../static/img/logo.jpeg (2).jpg"></a>

      <div>
        <ul id="navbar">
          <li><a href="/">Home</a></li>
					<li><a href="/shop">Shop</a></li>
					<li><a href="/about">About</a></li>
					<li><a href="/contact">Contact</a></li>
					<li><a class="active" href="/loginPage">Login</a></li>
					<li><a href="/cart" id="cart-icon"><i class="fa fa-shopping-bag"></i></a></li>

        </ul>
      </div>

    </div>

	    <div class="login-box">
	        <h2>Login</h2>
        <form>
            <div class="user-box">
                <input type="text" name="" required="">
                <label>Username</label>
            </div>
            <div class="user-box">
                 <input type="password" name="" required="">
                 <label>Password</label>
            </div>
            <a href="/">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
                Submit
            </a>
        </form>
        </div>
	
	</body>
	</html>