<!Doctype html>
	<!DOCTYPE html>
	<html>
	<head>
		<title>Login</title>
		<link rel="stylesheet" type="text/css" href="C:\Users\QAEM RAZA\Desktop\Project\E commerce\static\css\login.css">
	    <link rel="stylesheet" type="text/css" href="C:\Users\QAEM RAZA\Desktop\Project\E commerce\static\css\mainPage.css">
	    <link href="/your-path-to-fontawesome/css/all.css" rel="stylesheet">
            <link rel="stylesheet" type="text/css" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
		<link rel="icon" href="C:\Users\QAEM RAZA\Downloads\WhatsApp Image 2022-10-12 at 12.27.46.jpeg" type="image/icon type">
	</head>
	<body>

		<div id = "header">
      <a href="#"><img src="C:\Users\QAEM RAZA\Downloads\logo.jpeg (2).jpg"></a>

      <div>
        <ul id="navbar">
          <li><a href="mainPage.html">Home</a></li>
          <li><a href="shop.html">Shop</a></li>
          <li><a href="about.html">About</a></li>
          <li><a href="contact.html">Contact</a></li>
          <li><a class="active" href="loginPage.html">Login</a></li>
         <li><a href="cart.html"><i class="far fa-shopping-bag"></i></a></li>

        </ul>
      </div>

    </div>

	    <div class="login-box">
	        <h2>Login</h2>
        <form>
            <div class="user-box">
                <input type="text" name="" required="">
                <label>Username</label>
            </div>
            <div class="user-box">
                 <input type="password" name="" required="">
                 <label>Password</label>
            </div>
            <a href="mainPage.html">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
                Submit
            </a>
        </form>
        </div>
	
	</body>
	</html>